/* Se utiliza display: inline-block; se usa para que un elemento se coloque al lado de otros (en la misma línea), pero que igual pueda tener tamaño y espacio propio. */

/* box-shadow se usa para agregar una sombra alrededor de un elemento, haciendo que parezca elevado o con profundidad. */

/* white-space: nowrap; se usa para que el texto no se corte ni baje de línea, aunque sea muy largo. Todo queda en una sola línea. */


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Quicksand", sans-serif;
    background-color: #FAEDCA;
}

a:hover { /* Cuando pasas el mouse por arriba cambia de color */
    color: #FE5D26;
    font-weight: bold;
    cursor: pointer;
}

footer a{
  color: black;
}

header {
    background-color: white;
    padding: 7vh;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
    border: 2px solid #C1DBB3; 
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2); /* Sobra del recuadro */
}

.logo-titulo {
  text-align: center; /* centra todo el bloque */
  white-space: nowrap; /* evita que se salten de línea */
}

.logo {
  height: 50px;
  display: inline-block; /* para que imagen y texto estén uno al lado del otro. */
  vertical-align: middle;
  margin-right: 10px;
}

.titulo {
  display: inline-block;
  vertical-align: middle;
  font-family: 'Dancing Script', cursive;
  font-size: 48px;
  margin: 0;
}

main h1 { /* titulo menu */
    font-family: "Dancing Script", cursive;
    padding: 10px;
    font-size: 40px;
    margin-left: 20px;
    margin-top: 25px;
}

main hr { /* linea */
  border: none;
  border-top: 1px solid #FE5D26;
}

main p{ /* Seleccion de paginas */
    margin: 10px;
    font-size: 20px;
}

nav {
    margin: 10px;
}

nav a{ /* opciones de platos */
    color: black;
    text-decoration: none;
    line-height: 40px;
    padding-left: 25px;
    font-size: 20px;
}

nav b{
    padding-left: 25px;
}

footer {
    background-color: #F2C078;
    text-align: center;
    
    /* Poner el footer al final de la pagina sin flexbox */
    position: fixed;       /* Fija el elemento en la pantalla, sin importar el scroll */
    bottom: 0;             /* Lo coloca pegado al borde inferior de la ventana */
    left: 0;               /* Lo alinea al borde izquierdo de la ventana */
    width: 100%;           /* Hace que ocupe todo el ancho de la pantalla */
    line-height: 20px;     /* Establece la altura de cada línea de texto en 20px */
}

footer p {
    padding: 5px;
}

/* PAGINA PLATO PRINCIPAL */

.paginas {
    padding: 20px;
    background-color:white;
}

.vuelta {
    text-decoration: none;
    color: black;
}

.titulo_paginas {
    font-family: 'Dancing Script', cursive;
    padding: 10px;
    font-size: 40px;
}

/* DISENIO DE PLATOS */
.plato {
  width: 800px;
  margin: 20px auto;
  padding: 15px;
  background-color: white;
  border: 1px solid #C1DBB3;
  border-radius: 10px;
}

.fila_plato {
  display: inline-block;
  white-space: nowrap; /* impide que el contenido se baje */
}

.img_plato {
  height: 150px;
  vertical-align: top;
  display: inline-block;
  margin-right: 15px;
  margin-top: 10px;
  border-radius: 8px;
}

.info_plato {
  display: inline-block;
  width: 650px;
  vertical-align: top;
  white-space: normal; /* permite que el texto salte de línea */
  margin-top: 20px;
}

.precio {
    color: #FE5D26;
}